#
# networks rpc
#

ETHEREUM_RPC_URL=https://main-light.eth.linkpool.io/
RINKEBY_TESTNET_RPC_URL=https://rinkeby-light.eth.linkpool.io/
GOERLI_TESTNET_RPC_URL=https://rpc.ankr.com/eth_goerli
ROPSTEN_TESTNET_RPC_URL=https://rpc.ankr.com/eth_ropsten
SEPOLIA_TESTNET_RPC_URL=https://rpc.sepolia.org/

POLYGON_RPC_URL=https://polygon-rpc.com/
POLYGON_TESTNET_RPC_URL=https://rpc-mumbai.matic.today

BSC_RPC_URL=https://bsc-dataseed.binance.org/
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/

AVALANCHE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
AVALANCHE_TESTNET_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

GNOSIS_RPC_URL=https://rpc.xdaichain.com/
GNOSIS_TESTNET_RPC_URL=https://sokol.poa.network/

OPTIMISM_RPC_URL=https://mainnet.optimism.io
OPTIMISM_TESTNET_RPC_URL=https://kovan.optimism.io

ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
ARBITRUM_TESTNET_RPC_URL=https://rinkeby.arbitrum.io/rpc

AURORA_RPC_URL=https://mainnet.aurora.dev
AURORA_TESTNET_RPC_URL=https://testnet.aurora.dev

FANTOM_RPC_URL=https://rpc.ftm.tools
FANTOM_TESTNET_RPC_URL=https://rpc.testnet.fantom.network/

#
# params
#

INITIAL_OWNER=0x0000000000000000000000000000000000000000

#
# api and private keys
#

EXPLORER_API_KEY=EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE

SIGNER_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000001
